*{
    padding: 0;
    margin: 0;
}

body{
    background: url(../images/bg.jpg) repeat;
}

#header{
    height: 1163px;
    background: url(../images/header.jpg) no-repeat center;
}

#header .banner{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

#header .banner-moon{
    position: absolute;
    top: 0;
    left: 20px;
}


#header .banner-word{
    position: absolute;
    top: 82px;
    left: 243px;
}

#header .banner-company{
    position: absolute;
    top: 470px;
    left: 262px;
}


#main{
    height: 4599px;
    background: url(../images/mainbg.png) no-repeat center 447px;
}

#footer{
    height: 305px;
    background: url(../images/foot.png) no-repeat center;
}

